* {
    box-sizing: border-box;
}

body {
    /* border: 1px solid black; */
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    width: 90vw;
}

.card {    
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 50px;
    flex: .5;
    height: 80vh;
    margin: 10px;
    cursor: pointer;
    position: relative;
    transition: all .5s ease-in;
}

.card h3 {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    color: rgb(202, 202, 171);
    opacity: 0;
}

.card.active {
    flex: 5;
}

.card.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

@media ( max-width: 450px){
    .container {
        width: 100%;
    }

    .card:nth-child(5){
        display: none;
    }
}