body {
    margin: 0;
    display: grid;
    place-items: center;
    background: #000;
}
html,
body {
    height: 100%;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.page {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page button {
    flex: 0 0 42px;
    height: 42px;
    padding: 6px;
    transition: 0.4s;
}

.page button span {
    display: block;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    background: #383142;
    transition: .4s;
}

.page button:focus {
    flex: 0 0 80px;
}

.page button:focus span {
    background: #8f44fd;
}